# Written by `pnpm wallet`. Public config only; keys live in .env.investigator and .env.payee (both git-ignored).
FACILITATOR_URL=https://x402.preprod.dev.ecosyseng.cf-deployments.org
SELLER_ADDRESS=
SELLER_PORT=4021
SELLER_URL=http://localhost:4021
KOIOS_URL=https://preprod.koios.rest/api/v1
# PRICE_LOVELACE=1000000
